@model Stokvel_Groups_Home.Models.Account

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountId" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" disabled class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupVerifyKey" class="control-label"></label>
                <input asp-for="GroupVerifyKey" disabled class="form-control" />
                <span asp-validation-for="GroupVerifyKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountCreated" class="control-label"></label>
                <input asp-for="AccountCreated" disabled class="form-control" />
                <span asp-validation-for="AccountCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
