@model Stokvel_Groups_Home.Models.AccountUserPersonal

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- row -->

        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Settings</h2>
                </div>

                <alerts></alerts>
            </div>
        </div>
        <!-- row -->
<form asp-action="Create" method="post" enctype="multipart/form-data" asp-antiforgery="true">
        <div class="row column4 graph">
            <!-- Create -->
            <div class="col-md-6">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Create</h2>
                        </div>
                    </div>
                    
                    <div class="full progress_bar_inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="full">
                                    <div class="padding_infor_info">
                                        <div class="row">
                                            <div class="col-md-12">
                                        
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <p>@Html.DisplayFor(model => model.Id)</p>
                                                    <p>@Html.HiddenFor(model => model.Id)</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FirstName" class="control-label"></label>
                                                <input asp-for="FirstName" class="form-control" />
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="LastName" class="control-label"></label>
                                                <input asp-for="LastName" class="form-control" />
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group" >
                                               <label asp-for="DateOfBirth" class="control-label"></label>
                                                <input asp-for="DateOfBirth" type="date" class="form-control" />
                                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                            </div>
                                            <div class="form-group" >
                                                 <label asp-for="PhoneNumber" class="control-label"></label>
                                                    <input asp-for="PhoneNumber" type="text" pattern="[0-9]" class="form-control" />
                                                     <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <div style="text-align:center">
                                                    
                                                        <div id="test" style="height: auto; width:auto; background-color: mintcream; display:none" class="img-fluid">

                                                            <label asp-for="ProfilePicture" class="control-label">Female ProfilePicture</label>
                                                            <br />
                                                            <div id="image-container">
                                                                @for (int i = 1; i <= 11; i++)
                                                                {
                                                               <span onclick="upDateOutput(); insertText(this);"> <img src="/images/profile/F (@i).png" name="F (@i).png" alt="avatar" data-src="/images/profile/F (@i).png" class="img-fluid rounded-circle me-3" width="50" onclick="slideUp(document.getElementById('test'));"></span>
                                                                }
                                                             </div>

                                                        <label asp-for="ProfilePicture" class="control-label">Male ProfilePicture</label>
                                                        <div class="form-group">
                                                            <div id="image-container">
                                                                @for (int i = 1; i <= 7; i++)
                                                                {
                                                              <a onclick="upDateOutput(); insertText(this);">  <img src="/images/profile/M (@i).png" name="M (@i).png" alt="avatar" data-src="/images/profile/M (@i).png" class="img-fluid rounded-circle me-3" width="50" onclick=" slideUp(document.getElementById('test')); insertText(this);"></a>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                 </div>
                                            </div>
                                            <div class="row">
                                            <div class="col-6">
                                            <div class="form-group" >
                                               <div class="btn btn-outline-primary btn" onclick="slideDown(document.getElementById('test'))">Select Profile Icon</div>                                          
                                            </div>
                                            </div>
                                            <div class="col-6">
                                            <div class="form-group" >
                                             <div class="btn btn-outline-primary" onclick=" slideUp(document.getElementById('test'))">Close Profile Icon</div>                                 
                                            </div>
                                            </div>
                                            </div>
                                            <div class="form-group" hidden >
                                                <label asp-for="MemberFileName" class="control-label"></label>
                                                <input asp-for="MemberFileName" type="text" id="imgname" class="form-control"/>
                                                <span asp-validation-for="MemberFileName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ProfilePicture" class="control-label"></label>
                                                <input asp-for="ProfilePicture" type="file" id="imageInput" class="form-control"/>
                                                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                                            </div>
                                            <img id="previewImage" alt="Preview" style="border:1px solid; border-radius:50%; width:200px; height:200px;" class="" onclick="">
                                            <br>
                                            <div class="form-group">
                                                <label asp-for="Address" class="control-label"></label>
                                                <input asp-for="Address" class="form-control" />
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="City" class="control-label"></label>
                                                <input asp-for="City" class="form-control" />
                                                <span asp-validation-for="City" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Province" class="control-label"></label>
                                                <input asp-for="Province" class="form-control" />
                                                <span asp-validation-for="Province" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Zip" class="control-label"></label>
                                                <input asp-for="Zip" class="form-control" />
                                                <span asp-validation-for="Zip" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Create" class="btn btn-primary" />
                                            </div>
                                        
                                            </div>
                                        </div>

                                        <div>
                                            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                                    <div id="get-value" class="text-black"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
           
                </div>
            </div>
            <!-- funcation section -->
            <div class="col-md-6">
                <!-- model popup -->
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Second Address Info</h2>
                        </div>
                    </div>
                    <div class="full progress_bar_inner">
                        <div class="row">
                                <div class="col-md-12">
                                    <div class="full">
                            <div class="padding_infor_info">
                                        <div class="row disabled">
                                            <div class="col-md-6" >
                                                <div class="form-group-sm m-1">
                                                    <label asp-for="SecondAddress" class="control-label"></label>
                                                <input asp-for="SecondAddress" disabled class="form-control" />
                                                <span asp-validation-for="SecondAddress" class="text-danger"></span>
                                                </div>
                                                 <div class="form-group-sm m-1">
                                                <label asp-for="SecondStreetAddress" class="control-label"></label>
                                                    <input asp-for="SecondStreetAddress" disabled class="form-control" />
                                                <span asp-validation-for="SecondStreetAddress" class="text-danger"></span>
                                                </div>
                                            <div class="form-group-sm m-1">
                                                <label asp-for="SecondCity" class="control-label"></label>
                                                <input asp-for="SecondCity" disabled class="form-control" />
                                                <span asp-validation-for="SecondCity" class="text-danger"></span>
                                            </div>
                                             </div>
                                                <div class="col-md-6">
                                                <div class="form-group-sm m-1">
                                                <label asp-for="SecondProvince" class="control-label"></label>
                                                    <input asp-for="SecondProvince" disabled class="form-control" />
                                                <span asp-validation-for="SecondProvince" class="text-danger"></span>
                                                </div>
                                                <div class="form-group-sm m-1">
                                                    <label asp-for="SecondPostalCode" class="control-label"></label>
                                                <input asp-for="SecondPostalCode" disabled class="form-control" />
                                                <span asp-validation-for="SecondPostalCode" class="text-danger"></span>
                                                </div>
                                           
                                            </div>
                                         </div>
                                     </div>
                                     </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- tootips -->
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Employer Info</h2>
                        </div>
                    </div>
                    <div class="full progress_bar_inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="full">
                                    <div class="padding_infor_info">
                                <div class="row disabled">
                                    <div class="col-md-6">
                                        <div class="form-group-sm m-1">
                                                <label asp-for="EmployerFirstName" class="control-label"></label>
                                                <input asp-for="EmployerFirstName" disabled class="form-control" />
                                                <span asp-validation-for="EmployerFirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group-sm m-1">
                                            <label asp-for="EmailAddress" class="control-label"></label>
                                                <input asp-for="EmailAddress" disabled class="form-control" />
                                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                        </div>
                                        <div class="form-group-sm m-1">
                                            <label asp-for="EmployerStreetAddress" class="control-label"></label>
                                                <input asp-for="EmployerStreetAddress" disabled class="form-control" />
                                            <span asp-validation-for="EmployerStreetAddress" class="text-danger"></span>
                                        </div>
                                        <div class="form-group-sm m-1">
                                            <label asp-for="EmployerCity" class="control-label"></label>
                                                <input asp-for="EmployerCity" disabled class="form-control" />
                                                <span asp-validation-for="EmployerCity" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group-sm m-1">
                                                <label asp-for="EmployerLastName" class="control-label"></label>
                                                <input asp-for="EmployerLastName" disabled class="form-control" />
                                                <span asp-validation-for="EmployerLastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group-sm m-1">
                                                <label asp-for="EmployerAddress" class="control-label"></label>
                                                <input asp-for="EmployerAddress" disabled class="form-control" />
                                                <span asp-validation-for="EmployerAddress" class="text-danger"></span>
                                        </div>
                                        <div class="form-group-sm m-1">
                                                <label asp-for="EmployerProvince" class="control-label"></label>
                                                <input asp-for="EmployerProvince" disabled class="form-control" />
                                                <span asp-validation-for="EmployerProvince" class="text-danger"></span>
                                        </div>
                                        <div class="form-group-sm m-1">
                                                <label asp-for="EmployerPostalCode" class="control-label"></label>
                                                <input asp-for="EmployerPostalCode" disabled class="form-control" />
                                                <span asp-validation-for="EmployerPostalCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                   
                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- tootips -->
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                        <h2>Finance</h2>
                        </div>
                    </div>
                    <div class="full progress_bar_inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="full">
                                    <div class="padding_infor_info">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group-sm m-1">
                                                <label asp-for="AnnualIncome" class="control-label"></label>
                                                <input asp-for="AnnualIncome" disabled class="form-control" />
                                                <span asp-validation-for="AnnualIncome" class="text-danger"></span>
                                        </div>
                                        <div class="form-group-sm m-1">
                                            <label asp-for="Loans" class="control-label"></label>
                                                <input asp-for="Loans" disabled class="form-control" />
                                                <span asp-validation-for="Loans" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group-sm m-1">
                                                <label asp-for="RentPayment" class="control-label"></label>
                                                <input type="text" class="form-control" disabled id="myRange" value="90" />
                                                <input asp-for="RentPayment"  type="range" size="2" name="satisfaction" min="0" max="1000000" value="3" onmouseover="range(txt)()">
                                                
      <span asp-validation-for="RentPayment" class="text-danger"></span>
                                        </div>
                                        <div class="form-group-sm m-1">
                                            <label asp-for="LoanPurpose" class="control-label"></label>
                                                <input asp-for="LoanPurpose" disabled class="form-control" />
                                                <span asp-validation-for="LoanPurpose" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                        <h2>Finance</h2>
                        </div>
                    </div>
                    <div class="full progress_bar_inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="full">
                                    <div class="padding_infor_info">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group-sm m-1">
                                            <label asp-for="IdFile" class="control-label">Upload ID</label>
                                            <div class="drop-zone">
                                                <span class="drop-zone__prompt">Drop file here or click to upload</span>
                                                <input asp-for="IdFile" type="file" name="myFile" class="drop-zone__input">
                                            </div>
                                            <span asp-validation-for="IdFile" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group-sm m-1">
                                            <label asp-for="BankStatementFile" class="control-label">Upload Bank Statement</label>
                                            <div class="drop-zone">
                                                <span class="drop-zone__prompt">Drop file here or click to upload</span>
                                                <input asp-for="BankStatementFile" type="file" name="myFile" class="drop-zone__input">
                                            </div>
                                            <span asp-validation-for="BankStatementFile" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div>
                                            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                                    <div id="get-value" class="text-black"></div>
                                        </div>
                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- end row -->
</form>


<script>
    // script range
function myFunction() {
  var x = document.getElementById("myRange").value;
  document.getElementById("demo").innerHTML = x;
}
</script>

<script>

function insertText(txt)
{ 
     var image = txt.getElementsByTagName('img')[0]; // find the image
     var text = image.getAttribute('name'); // get it's name attribute value
     var path = image.getAttribute('src');
     document.getElementById('imageInput').value = null;
     document.getElementById('imgname').value = text;
        document.getElementById('previewImage').src = path;
}
</script>


<script src="~/https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/imagery.js"></script>




<script>
    function upDateOutput() {
       
        var elem = document.getElementById("box");
        function slide() {
            elem.classList.toggle('hide');
        }
    }

</script>


<script>
    $(document).ready(function () {
        $("#btn-slidetoggle").click(function () {
            $("#para-slidetoggle").slideToggle();
        });
    });
</script>





















<script>
    function slideDown(obj, speed) {
        var mySpeed = speed || 300;
        var intervals = mySpeed / 30; // we are using 30 ms intervals

        var holder = document.createElement('div');//
        var parent = obj.parentNode;
        holder.setAttribute('style', 'height: 0px; overflow:hidden');
        parent.insertBefore(holder, obj);
        parent.removeChild(obj);
        holder.appendChild(obj);
        obj.style.display = obj.getAttribute("data-original-display") || "";
        var height = obj.offsetHeight;
        var sepHeight = height / intervals;
        //  alert(sepHeight)
        var timer = setInterval(function () {
            var holderHeight = holder.offsetHeight;
            if (holderHeight + sepHeight < height) {
                holder.style.height = (holderHeight + sepHeight) + 'px';
            } else {
                // clean up
                holder.removeChild(obj);
                parent.insertBefore(obj, holder);
                parent.removeChild(holder);
                clearInterval(timer);
            }
        }, 30);
    }

    function slideUp(obj, speed) {
        var mySpeed = speed || 300;
        var intervals = mySpeed / 30; // we are using 30 ms intervals
        var height = obj.offsetHeight;
        var holder = document.createElement('div');//
        var parent = obj.parentNode;
        holder.setAttribute('style', 'height: ' + height + 'px; overflow:hidden');
        parent.insertBefore(holder, obj);
        parent.removeChild(obj);
        holder.appendChild(obj);
        var originalDisplay = (obj.style.display !== 'none') ? obj.style.display : '';
        obj.setAttribute("data-original-display", originalDisplay);
        var sepHeight = height / intervals;
        //  alert(sepHeight)
        var timer = setInterval(function () {
            var holderHeight = holder.offsetHeight;
            console.log(holderHeight);
            if (holderHeight - sepHeight > 0) {
                holder.style.height = (holderHeight - sepHeight) + 'px';
            } else {
                // clean up
                obj.style.display = 'none';
                holder.removeChild(obj);
                parent.insertBefore(obj, holder);
                parent.removeChild(holder);
                clearInterval(timer);
            }
        }
            , 30);
    }

</script>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script  src="~/js/imagery.js"></script>

}



