@model IEnumerable<DisplayPaidMember>


<div class="col-md-6">
    <div class="dark_bg full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Paid Mmembers</h2>
            </div>
        </div>
        <div class="full graph_revenue">
            <div class="row">
                <div class="col-md-12">
                    <div class="content testimonial">
                        <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for carousel items -->
                            <div class="carousel-inner">

                                @foreach (var paid in Model)
                                {
                                    <div class="item carousel-item active">

                                        <div class="img-box"><img src="" alt=""></div>
                                        <img src="@Url.Content("~/images/MemberProfile/" + paid.AccountUser.MemberFileName)" height="120px" width="120px" />
                                        <p class="testimonial">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae..</p>
                                        <p class="overview">
                                            <b>
                                                @Html.DisplayFor(name => paid.AccountUser.FirstName)
                                                @Html.DisplayFor(name => paid.AccountUser.LastName)
                                            </b>@Html.DisplayFor(name => paid.GroupMembers.Group.GroupName)
                                        </p>

                                    </div>
                                }
                            </div>
                            <!-- Carousel controls -->
                            <a class="carousel-control left carousel-control-prev" href="#testimonial_slider" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="carousel-control right carousel-control-next" href="#testimonial_slider" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>